<div class="all-buttons">
    <div class="row">
        <div class="col-sm-6">
            <!-- First column -->
            <div class="row">
                <div class="col-head">
                    A and B
                </div>
                <div class="col-button">
                    <button type="button" class="btn calculate">A + B</button>
                </div>
                <div class="col-button">
                    <button type="button" class="btn calculate">A - B</button>
                </div>
                <div class="col-button">
                    <button type="button" class="btn calculate">A * B</button>
                </div>
                <div class="col-button">
                    <button type="button" class="btn calculate">A / B</button>
                </div>
                <div class="col-button">
                    <button type="button" class="btn calculate">A == B</button>
                </div>
                <div class="col-button">
                    <button type="button" class="btn calculate">A ^ B</button>
                </div>
                <div class="col-button">
                    <button type="button" class="btn calculate">A log B</button>
                </div>
                <div class="col-button">
                    <button type="button" class="btn calculate">A root B</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- Second column -->
            <div class="row">
                <div class="col-head">
                    A only
                </div>
                <div class="col-button">
                    <button type="button" class="btn calculate">A !</button>
                </div>
                <div class="col-button">
                    <button type="button" class="btn calculate">sin A</button>
                </div>
                <div class="col-button">
                    <button type="button" class="btn calculate">cos A</button>
                </div>
                <div class="col-button">
                    <button type="button" class="btn calculate">tan A</button>
                </div>
                <div class="col-button">
                    <button type="button" class="btn calculate">1 / A</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    
}