@page "/"
@rendermode InteractiveServer
@inject IJSRuntime JsRuntime
@inject HttpClient Http

<PageTitle>Calculator</PageTitle>


<div class="row topset">
    <div class="col">
        <H1>Calculator</h1>
    </div>
    <div class="col">
        <button class="btn button">Clear</button>
    </div>
</div>



<label class="output-section">Output</label>

<div class="row user-input">
    <div class="col">
        <div class="text">Input A</div>
        <input id="inputA" placeholder="0" class="textbox">
    </div>
    <div class="col">
        <div class="text">Input B</div>
        <input id="inputB" placeholder="0" class="textbox">
    </div>
</div>


<div class="row">
    <div class="col">
        <div class="col-head"> A and B</div>
        <button class="button btn">A + B</button>
        <button class="btn button">A - B</button>
        <button class="btn button">A * B</button>
        <button class="btn button">A / B</button>
        <button class="btn button">A == B</button>
        <button class="btn button">A ^ B</button>
        <button class="btn button">A log B</button>
        <button class="btn button">A root B</button>
    </div>
    <div class="col">
        <div class="col-head"> A only</div>
        <button class="btn button">A !</button>
        <button class="btn button">sin A</button>
        <button class="btn button">cos A</button>
        <button class="btn button">tan A</button>
        <button class="btn button">1 / A</button>
    </div>
</div>



@code {

}
