@page "/"
@rendermode InteractiveServer

<PageTitle>Calculator</PageTitle>


<div class="row topset">
    <div class="col">
        <H1>Calculator</h1>
    </div>
    <div class="col">
        <button @onclick="Clear" class="btn button">Clear</button>
    </div>
</div>


<div class="output-box">
    <label id="equation" class="output-section" style="background-color: @_backColor; color: @_fontColor">@_calculateModel.Result</label>
    <label id="equationResult" class="output-section" style="background-color: @_backColor; color: @_fontColor">@_calculateModel.Output</label>
</div>



<div class="row user-input">
    <div class="col">
        <div class="text">Input A</div>
        <input @bind="_calculateModel.OperandA" placeholder="0" class="textbox" id="inputA">
    </div>
    <div class="col">
        <div class="text">Input B</div>
        <input @bind="_calculateModel.OperandB" placeholder="0" class="textbox" id="inputB">
    </div>
</div>


<div class="row">
    <div class="col">
        <div class="col-head"> A and B</div>
        <button @onclick="Add" class="btn button">A + B</button>
        <button @onclick="Subtract" class="btn button">A - B</button>
        <button @onclick="Multiply" class="btn button">A * B</button>
        <button @onclick="Divide" class="btn button">A / B</button>
        <button @onclick="Equal" class="btn button">A == B</button>
        <button @onclick="RaisePower" class="btn button">A ^ B</button>
        <button @onclick="Log" class="btn button">A log B</button>
        <button @onclick="Root" class="btn button">A root B</button>
    </div>
    <div class="col">
        <div class="col-head"> A only</div>
        <button @onclick="Factorial" class="btn button">A !</button>
        <button @onclick="Sine" class="btn button">sin A</button>
        <button @onclick="Cosine" class="btn button">cos A</button>
        <button @onclick="Tangent" class="btn button">tan A</button>
        <button @onclick="Reciprocal" class="btn button">1 / A</button>
    </div>
</div>