@page "/"

<PageTitle>Calculator</PageTitle>

<style>
    body {
        background-color: #eceff3;
    }
</style>

<div class="outer-box">
    <div class="inner-box">
        <div class="row">
            <div class="col">
                <H1>Calculator</h1>
            </div>
            <div class="col">
                <button class="clear-button">Clear</button>
            </div>
        </div>
        <OutputBox/>
        <UserInput/>
        <Buttons/>
    </div>
</div>

