<div class="input-options">
    <div class="row">
        <div class="col-sm-6">
            <!-- First column -->
            <div class="row">
                <div class="col-head">
                    Input A
                </div>
                <div class="textbox textbox-B">
                    <input id="inputA" placeholder="0" class="textbox">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- Second column -->
            <div class="row">
                <div class="col-head">
                    Input B
                </div>
                <div class="textbox textbox-B">
                    <input id="inputB" placeholder="0" class="textbox">
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    
}