@inherits LayoutComponentBase

<style>
    body {
        background-color: #eceff3;
    }
</style>

<main>
    <div class="outer-box">
        <div class="inner-box">
            @Body
        </div>
    </div>
</main>
