.inner-box {
    position: fixed;
    background-color: #fdfdfd;
    padding: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 650px;
    height: 750px;

}

.outer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
